In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

In [2]:
#read the merged dataset from all 6 citites
frame=pd.read_csv('/Users/admin/Desktop/256/Project/CSV_files/merged_final.csv')

In [3]:
frame=frame.fillna(0)
frame
frame.to_csv('/Users/admin/Desktop/256/Project/CSV_files/merged_final1.csv')

In [4]:
file=pd.read_csv('/Users/admin/Desktop/256/Project/Final_usersData_withratings_600k.csv')

In [5]:
file

,reviewer_id,reviewer_name,soloTrip,FamilyTrip,Holiday,Business,short,long,listings,ratings
0,64865321,Caitlin,0,1,0,1,1,0,118117,9
1,26272480,Cristina,1,0,0,1,0,1,545821,7
2,73490335,Bruno,1,0,0,1,0,1,55868,7
3,9938883,Román,0,1,0,1,0,1,85145,6
4,3824717,Татьяна,1,0,0,1,1,0,305809,6
...,...,...,...,...,...,...,...,...,...,...
599995,67625525,Kelly,1,0,0,1,1,0,59182,2
599996,4786209,Simon,0,1,0,1,1,0,21167,5
599997,13661577,Josh,1,0,0,1,0,1,203658,5
599998,21627535,Višnja,1,0,1,0,1,0,135097,0
599999,35505495,Jill,1,0,0,1,1,0,33114,0

In [6]:
file=file.merge(frame, left_on='listings',right_on='id',how='inner')

In [7]:
X = file.drop(['ratings'],axis=1)
y = file['ratings']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

model = GradientBoostingRegressor(n_estimators = 20,max_depth = 6, min_samples_split = 2, learning_rate = 0.1, loss = 'ls')
print("model_training")
model.fit(X_train.drop(['reviewer_id','reviewer_name','listings'],axis=1), y_train)

model_training

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=6,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=20,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [8]:
predict = model.predict(X_test.drop(['reviewer_id','reviewer_name','listings'],axis=1))

In [9]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, predict)

8.688658877316614

In [10]:
import pickle
pickle.dump(model, open("gbr", "wb"))